*{
  margin: 0;
}

.App {
  text-align: center;
}




.nav_main{
  background-color: slategray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 400;
  min-height: 5vh;
}